body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3F1FF;
}
.nav-bg{
    background-color: #562EFF; 
}
.theme-color{
    color: #562EFF;
}
.logo-size{
    width: 50px;
    height: 51px;
}
.navbar-light .navbar-brand{
    color:white; 
}
.navbar-light .navbar-brand:hover{
    color:#3eadf7; 
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link{
   color:white; 
   margin: 10px;
   transition: .4s !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#000000; 
    font-weight: 700;
    background-color: aliceblue;
    border-radius: 10px;
}
/* Thick red border */
hr {
    margin: 30px;
    border: 1px solid #D1D1D1;
}
.blog-img{
    width: 230px;
    height: 150px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card-footer:last-child{
    border-radius: 10px;
}
.star-size{
    width: 15px;
    height: auto;
}
.clock-size{
    width: 25px;
    height: auto;
}
.clock-style{
    background-color: #FEE5DF;
    padding: 5px;
    border-radius: 20px;
}
@media only screen and (max-width: 600px) {
    #main .logo-size{
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
}